.SentenceRead {
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  color: #e6e0ae;
}

.SentenceRead p {
  font-size: 1.1em;
}

.SentenceRead h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 10px;
}

.SentenceRead h3 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 2px auto;
}
.QuestionCard {
  width: 70%;
  background-color: #e6e0ae;
  box-shadow: 0 1px 4px black;
  color: rgb(46, 66, 66);
  border-radius: 5px;
  min-height: 100px;
  margin: 0 auto 10px auto;
  padding: 10px 5px;
  font-size: 1.6em;
}

.popup:hover {
  background-color: #c75940;
  color: #e6e0ae;
  cursor: pointer;
}

.ChosenWord {
  color: #aa381e;
  font-size: 1.1em;
}

/*taken from https://www.w3schools.com/howto/howto_js_popup.asp*/
.popup {
  position: relative;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 1.1em;
  width: auto;
}

/*taken from https://www.w3schools.com/howto/howto_js_popup.asp*/
.popup .popuptext {
  visibility: hidden;
  background-color: rgb(238, 238, 238);
  width: 200px;
  color: rgb(49, 49, 49);
  font-size: 0.7em;
  text-align: center;
  border-radius: 6px;
  padding: 16px 0;
  box-sizing: border-box;
  position: absolute;
  padding: 5px;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
}

@media (max-width: 400px) {
  .popup .popuptext {
    width: 200px;
    margin-left: -100px;
  }
}

/*taken from https://www.w3schools.com/howto/howto_js_popup.asp*/
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(238, 238, 238) transparent;
}

/*taken from https://www.w3schools.com/howto/howto_js_popup.asp*/
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 0.2s;
}

.popuptext {
  box-shadow: 0 3px 6px rgb(73, 34, 34);
}

.popuptext:hover {
  cursor: initial;
}

.popuptext h5 {
  margin: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
